# vim: ft=apache noet:
#
# {{ ansible_managed }}
#

{% if service_vhost_aliases -%}
<VirtualHost *:443>
	{% for redir in service_vhost_aliases -%}
	{% if loop.first %}ServerName{% else %}ServerAlias{% endif %} {{ redir }}
	{% endfor %}

	Include "{{ httpd_ssl_conf }}"

	Redirect 301 "/" "https://{{ service_vhost_name }}/
</VirtualHost>
{% endif %}

<VirtualHost *:443>
	ServerAdmin {{ httpd_serveradmin }}
	ServerName {{ service_vhost_name }}

	Include "{{ httpd_ssl_conf }}"

        ErrorLog {{ log_path }}/{{ service_log_prefix }}{% if service_log_prefix %}-{% endif %}error.log
        CustomLog {{ log_path }}/{{ service_log_prefix }}{% if service_log_prefix %}-{% endif %}access.log combined

{% if use_http_auth %}
        <Location />
                AuthType Basic
                AuthName "Restricted Access"
                AuthUserFile /etc/apache2/.htpasswd
                Require valid-user
                Require local
        </Location>
{% endif %}

{% if service_vhost_extra %}{% include 'vhost-partial.conf.j2' %}{% endif %}

</VirtualHost>
