{% raw %}
{%extends "page.html"%}
{%block title%}{% endraw %}{{ org_name }}{% raw %} Mailing List Archives{%endblock%}
{%load pgfilters%}
{%block contents%}
<h1>{{ org_name }} Mailing Lists <i class="far fa-envelope"></i></h1>

{%include "searchform.html" %}

<h3>View All Archives</h3>

{%for g in groups%}
  {%if not forloop.first%}
      </tbody>
    </table>
  {%endif%}
  <h5>{{g.groupname}}</h5>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>List</th>
        <th>Description</th>
      </tr>
      <tbody>
        {%for l in g.lists%}
          <tr>
            <th scope="row"><a href="/list/{{l.listname}}/">{{l.maybe_shortdesc}}</a></th>
            <td>{{l.description|safe}}</td>
          </tr>
        {%endfor%}
{%endfor%}
</table>

{%endblock%}
{% endraw %}
