# {{ ansible_managed }}

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = "{{ pglister_django_secret_key }}"

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = {{ debug }}

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ database_name_pglister }}',
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': '{{ logging_level }}',
            'class': 'logging.FileHandler',
            'filename': '{{ base_path_pglister }}/log/debug_pglister.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': '{{ logging_level }}',
            'propagate': True,
        },
    },
}

ORGANIZATION_INFO = {
    'name': '{{ org_name }}',
    'motto': "",
    # To use a different banner, change file names here and place images
    # in /media/img/.
    # You can use hdr_left_generic.png and hdr_right_generic.png to remove
    # mentions of PostgreSQL
    'banner_left': 'hdr_left_generic.png',
    'banner_right': 'hdr_right_generic.png',
    'links': [
        {%for l in banner_links%}
        {'name': '{{ l.name }}', 'href': '{{ l.url }}'},
        {%endfor%}
    ],
}

USE_PG_COMMUNITY_AUTH = True  # Right now we *always* do, but this is used to turn on/off some local features
PGAUTH_REDIRECT = "https://{{ service_vhost_name_pgweb }}/account/auth/1/"
PGAUTH_KEY = "{{ pgauth_key }}"
LOGIN_URL = "/accounts/login/"

CONFIRM_SENDER_ADDRESS = "{{ confirm_sender_address }}"
CONFIRM_SENDER_NAME = "Confirm Sender"

WEB_ROOT = "{{ external_url }}"
SYSTEM_NAME = "Testing List Server"

# Integrate with exim on the OS (queue cleanup etc)
EXIM_INTEGRATION = True

ARCHIVES_API_SERVERS = []


# For debug toolbar, can append more in local_settings
DEBUG_TOOLBAR = False
INTERNAL_IPS = [
    '127.0.0.1',
]

import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
STATIC_ROOT = os.path.join(BASE_DIR, "../media/")
